#searchBoxInput {
    font-size: 15px;
}

#searchButton {
    font-size: 25px;
}

.card {
    width: 300px;
    margin: 35px;
    font-size: 15px;
}

.card h3 {
    font-size: 35px;
    padding: 15px 5px;
    text-align: center;
}

#foodIngredientsDetail {
    text-align: center;
    padding: 20px 0px;
    display: none;
}

.food-items-details img {
    width: 100%;
}

.food-items-details h1 {
    padding: 5px 0px;
    font-size: 30px;
}

.food-items-details h3 {
    font-size: 25px;
    text-align: left;
}

.food-items-details {
    width: 50%;
    margin: 0 auto;
}

.ingredient {
    font-weight: bold;
    font-size: large;
}